* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}

.main > * {
    padding: 0 150px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.section-subtitle {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    background: #E55473;
    display: inline-block;
}

/* for banner section */
.banner {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: rgba(229, 84, 115, 0.10);
}

.banner-header {
    min-width: 50%;
}

.banner-header-title {
    color: #272727;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-header-subtitle {
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    max-width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-img-place-holder {
    min-width: 50%;
    min-height: 95vh;
    align-self: flex-end;
    background-image: url("Flower Asset/pngwing 10.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}

/* for feature section */
.feature {
    padding-top: 100px;
    padding-bottom: 100px;;
}

.flower-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flower-item {
    width: 32%;
    height: 500px;
}

.flower-item-img-place-holder {
    height: 450px;
    width: 100%;
    overflow: hidden;
    border-radius: 300px 300px 0px 0px;
    position: relative;
}

.img {
    height: 75%;
    width: 75%;
    position: absolute;
}

.img-1 {
    bottom: 0;
    left: 12.5%;
}

.img-2 {
    top: 15%;
    left: 15%;
}

.img-3 {
    bottom: 0;
    left: 12.5%;
}

.bg-img-1 {
    background: rgba(167, 33, 98, 0.15);
}

.bg-img-2 {
    background-color: rgba(5, 151, 160, 0.15);
}

.bg-img-3 {
    background-color: rgba(71, 125, 17, 0.15);
}

.flower-item-name {
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 20px;
}

.feature-item-container {
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 100px;
    justify-content: space-between;
    padding: 60px 160px;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-item-img {
    height: 60px;
    width: 60px;
}

.feature-item-status {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    margin-top: 20px;
}

/* for hot deal section */
.hot-deal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    padding: 90px 250px;
}

.hot-deal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hot-deal-header-title {
    padding: 0;
    margin: 0;
    font-size: 26px;
}

.hot-deal-header-title span {
    color: #E55473;
}

.hot-deal-header-subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* for instagram section */
.instagram {
    padding-top: 100px;
    padding-bottom: 100px;;
}

.instagram-img-container {
    display: flex;
    justify-content: space-between;
}

.instagram-img {
    width: 24%;
}